h1{
   text-transform:capitalize;
   color:#7470d8;
   font-family:serif;
   font-size:60px;
}
img{
   width:150px;
   height:150px;
   float:left;
   margin-left:42%;
}
li{
   border-bottom:1px dotted #70c3d8;
   font-size:19px;
   font-family: fantasy;
   list-style: none;
}
h3{
   text-transform:capitalize;
   border-bottom:3px solid #534edb;
   font-size:25px;
}
p{
   color:#3121e0;
}
h4{
   font-size:18px;
   text-transform:capitalize;
}
html{
   background:#a0a3b2;
}
#inicio{
   float:left;
   margin-left:10px;
   width:20%;

  /*
  border-radius: 31px 31px 31px 31px;
  border: 2px solid #b3bdef;
  padding:10px;
  margin: 10px 20px 0px 20px;
  list-style:none;
  float:left;
  left: 80;
  }*/

}
#principal{
    float:right;
    width:77%;
    font-weight:cursive;
    list-style:none;
}


.sector{
   padding:10px;
   border:2px solid #b3bdef;
   border-radius:10px;
   margin:10px 10px;
   background:white;
}
.menu li{
   border-radius: 31px 31px 31px 31px;
   border: 2px solid #b3bdef;
   padding:10px;
   margin: 10px 20px 0px 20px;
   list-style:none;
   float:left;
   margin-left:42%;
}

a:link{
    color:black;
    text-decoration:none;
}

a:visited{
   color:black;
   text-decoration:none;
}

a:hover{
   color:white;
   text-decoration:none;
}

a:active{
   color:black;
   text-decoration: none;
}

ul{
   list-style: none;
   padding: 0;
}

.proyecto img{
  width:250px;
  height:250px;
}
